.contato {
    background-image: url("/assets/images/adventure-bg-5.jpg");
}

.contato__form {
    margin-top: 50px;
    text-align: left;
    width: 100%;
}

.contato__form label {
    color: var(--white-01);
    display: inline-block;
    font-size: var(--fonte-13);
    line-height: 18px;
    margin-bottom: 5px;
}

.form--item {
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
}

.form--input {
    flex: 1;
    margin-bottom: 10px;
}

.form--input input,
.form--item textarea {
    border: 1px solid rgba(255, 255, 255, .19);
    background-color: rgba(0, 0, 0, .1);
    border-radius: 2px;
    color: var(--white-01);
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: var(--fonte-13);
    font-weight: 300;
    line-height: 20px;
    outline: none;
    padding: 8px 15px;
    width: 100%;
}

.form--btn {
    border: 1px solid var(--gray-03);
    background-color: rgba(255, 255, 255, .1);
    border-radius: 2px;
    color: var(--white-01);
    display: inline-block;
    font-size: var(--fonte-13);
    line-height: 20px;
    margin-top: 20px;
    padding: 8px 12px;
    transition: .3s;
    text-align: center;
    width: 100%;
}

.form--btn:hover {
    background-color: var(--gray-03);
    color: var(--black-01);
}

.contato__footer {
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    margin-top: 10px;
}

.footer--paragrafo {
    color: var(--gray-03);
    font-size: var(--fonte-13);
    line-height: 20px;
}

.footer--icones {
    align-items: center;
    gap: 30px;
    justify-content: center;
}

.footer--icones li {
    border: 1px solid rgba(255, 255, 255, 0.28);
    border-radius: 50%;
    display: inline-block;
    height: 50px;
    padding: 3px;
    text-align: center;
    width: 50px;
}

.footer--icones a {
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.22);
    display: inline-block;
    font-size: var(--fonte-20);
    height: 42px;
    line-height: 40px;
    transition: .3s;
    width: 42px;
}

.footer--icones a:hover {
    background-color: rgba(255, 255, 255, 0.32);
}

@media screen and (max-width: 600px) {
    .form--input {
        flex-basis: 100%;
    }

    .contato__footer {
        justify-content: center;
    }
}