.header__bg {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    position: absolute;
    width: 100%;
}

.header {
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 2%;
    width: 100%;
    z-index: 9;
}

.header__logo {
    flex: 1 1 auto;
}

.header__menu {
    flex: 2 1 auto;
}

.header__menu--desktop {
    align-items: center;
    gap: 20px;
    justify-content: flex-end;
}

.menu--desktop__item {
    color: var(--white-01);
    display: inline-block;
    font-size: var(--fonte-15);
    line-height: 50px;
    padding: 0 14px;
    transition: .3s;
}

.menu--desktop__item:hover {
    color: var(--yellow-01);
}

a.selecionado {
    color: var(--yellow-01);
}

/*Menu Mobile*/
.header__mobile {
    display: none;
}

.header__mobile i {
    color: var(--white-01);
    font-size: var(--fonte-35);
}

.menu--mobile {
    background-color: var(--black-01);
    display: none;
    left: 0;
    position: absolute;
    transition: 0.3s;
    top: 80px;
    width: 100%;
    z-index: 1;
}

.menu--mobile li {
    border-bottom: 1px solid #3b3b3b;
    padding: 15px 25px;
    text-align: right;
    width: 100%;
}

.menu--mobile__item {
    color: var(--gray-02);
    display: inline-block;
    font-size: var(--fonte-15);
    line-height: 22px;
}

.header__mobile:hover .menu--mobile {
    display: block;
}

@media screen and (max-width: 800px) {
    .header__menu {
        display: none;
    }

    .header__mobile {
        display: block;
    }
}