html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    position: relative;
    word-wrap: break-word;
}

html,
body {
    height: 100%;
    width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway', sans-serif;
}

textarea {
    resize: none;
    width: 100%;
}

input {
    width: 100%;
}

label {
    display: block;
}