:root {
    --black-01: #292929;
    --yellow-01: #fa8322;
    --yellow-02: #ea7b20;
    --white-01: #ffffff;
    --white-02: #f2f2f2;
    --gray-01: #868686;
    --gray-02: #777777;
    --gray-03: #adadad;
}