:root {
    --fonte-11: 0.687rem;
    --fonte-13: 0.812rem;
    --fonte-15: 0.9rem;
    --fonte-18: 1.125rem;
    --fonte-20: 1.625rem;
    --fonte-24: 1.5rem;
    --fonte-35: 2.187rem;
    --fonte-50: 3.125rem;
    --fonte-70: 4.375rem;
}