.linhas {
    margin-top: 80px;
}

.linhas hr {
    border: none;
    background-color: rgba(255, 255, 255, 0.13);
    border: none;
    margin-bottom: 2px;
    width: 100%;
}

.hr--01,
.hr--02,
.hr--04,
.hr--05 {
    height: 1px;
}

.hr--03 {
    height: 10px;
}